service: editor
image: ghcr.io/alexfinnarn/editor

servers:
  web:
    - YOUR_VPS_IP  # TODO: Replace with your VPS IP address

proxy:
  ssl: true
  host: notes.finnarn.com

registry:
  server: ghcr.io
  username:
    - KAMAL_REGISTRY_USERNAME
  password:
    - KAMAL_REGISTRY_PASSWORD

env:
  clear:
    PORT: "3000"
    ORIGIN: https://notes.finnarn.com
    HOST: "0.0.0.0"

builder:
  multiarch: false
  cache:
    type: gha
    options: mode=max

ssh:
  user: root  # TODO: Change to your VPS SSH user if not root

readiness_delay: 5
deploy_timeout: 60
