service: editor
image: ghcr.io/alexfinnarn/editor

servers:
  web:
    - 5.161.43.16

proxy:
  ssl: true
  host: notes.finnarn.com

registry:
  server: ghcr.io
  username:
    - KAMAL_REGISTRY_USERNAME
  password:
    - KAMAL_REGISTRY_PASSWORD

volumes:
  - "editor_vault:/app/vault"

env:
  clear:
    PORT: "3000"
    ORIGIN: https://notes.finnarn.com
    HOST: "0.0.0.0"
    VAULT_PATH: "/app/vault"

builder:
  cache:
    type: gha
    options: mode=max

ssh:
  user: root

readiness_delay: 5
deploy_timeout: 60
